nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 80px;
    z-index: 4;
    height: 75px;
}

nav ul {
    margin-right: 1.25rem;
    grid-gap: 0.5rem;
    margin-bottom: 1rem;
}

nav .wrapper {
    padding-left: 1.25rem;
    margin-bottom: 1.5rem;
}

#showcase {
    top: 75px;
    margin-bottom: 3rem;
}

#contact {
    height: 150vw;
    position: relative;
    padding-bottom: 10rem;
    padding-top: 5rem;
}

#contact-page-h3 {
    margin-top: 0;
}

#contact-page-spacing {
    background: var(--primary);
    height: 5rem;
}

#navbar {
    --nav-height: 100px;
}

#navbar h1 {
    font-size: 0.7rem;
}

#navbar p,
#navbar a {
    font-size: 0.5rem;
}

#showcase h1 {
    font-size: 2rem;
    margin-top: -1rem;
}

#showcase p {
    font-size: 1.2rem;
}

#showcase .btn {
    font-size: 0.75rem;
    margin-top: 0.75rem;
}

#services h2,
#about h2,
#contact h3 {
    font-size: 3rem;
}